{% extends "base.html" %}
{% block content %}
<h2 class="sub-header">近期交易</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>交易id</th>
                <th>买家名称</th>
                <th>卖家名称</th>
                <th>食品名称</th>
                <th>出售时间</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% if item["buyer"].get("uid", None) %}
                    <input type="hidden" name="buyer_id" value={{ item["buyer"]["uid"] }} />
                    <td name="did">{{ item["did"] }}</td>
                    <td>{{ item["buyer"]["name"] }}</td>
                    <td>{{ item["seller"]["name"] }}</td>
                    <td>{{ item["food"]["name"] }}</td>
                    <td>{{ item["sell_at"] }}</td>
                    <td><button class="btn btn-danger">删除</button></td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}

{% block ext_js %}
<script>
$(document).ready(
    function () {
        $("button.btn-danger").click(function () {
            var item = $(this).parents("tr");
            var uid = item.children("input[name=buyer_id]").attr("value");
            var did = item.children("td[name=did]").text();
            console.log(uid, did);
            if (uid !== undefined && did !== undefined) {
                $.ajax({
                    url: "/user/" + uid + "/deals/",
                    type: "DELETE",
                    data: {
                        "sid": $("#sid").attr("value"),
                        "did": did,
                    },
                    success: function(result) {
                        item.hide("slow");
                    },
                    error: function(result) {
                        alert("failed" + result);
                    }
                });
            }
        });
    });
</script>
{% end %}
