{% extends "base.html" %}
{% block content %}
<h2 class="sub-header">近期交易</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>交易id</th>
                <th>买家名称</th>
                <th>卖家名称</th>
                <th>食品名称</th>
                <th>出售时间</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <input type="hidden" name="buyer_id" value={{ item["buyer"]["uid"] }} />
                <td name="did">{{ item["did"] }}</td>
                <td>{{ item["buyer"]["name"] }}</td>
                <td>{{ item["seller"]["name"] }}</td>
                <td>{{ item["food"]["name"] }}</td>
                <td>{{ item["sell_at"] }}</td>
                <td><button class="btn btn-danger">删除</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}

{% block ext_js %}
<script>
$(document).ready(
    function () {
        $("button.btn-danger").click(function () {
            var uid = $(this).closest("tr").children("input[name=buyer_id]").attr("value");
            var did = $(this).closest("tr").children("td[name=did]").text();
            if (uid !== undefined && did !== undefined) {
                $.ajax({
                    headers: {'Cookie': document.cookie},
                    url: "/user/" + uid + "/deals/",
                    type: "DELETE",
                    success: function(result) {
                        $(this).closest("tr").hide();
                    },
                    error: function(result) {
                        alert("failed");
                    }
                });
            }
        });
    });
</script>
{% end %}
