{% extends "base.html" %}
{% block content %}
<h2 class="sub-header">食品管理</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>食品id</th>
                <th>食品名称</th>
                <th>卖家名称</th>
                <th>食品价格</th>
                <th>上架时间</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item["fid"] }}</td>
                <td>{{ item["name"] }}</td>
                <td>{{ item["seller"]["name"] }}</td>
                <td>{{ item["price"] }}</td>
                <td>{{ item["create_at"] }}</td>
                <td><button class="btn btn-danger">删除</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}
