{% extends "base.html" %}
{% block content %}
<h2 class="sub-header">用户管理</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>用户id</th>
                <th>用户名称</th>
                <th>用户级别</th>
                <th>联系地址</th>
                <th>联系电话</th>
                <th>注册时间</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item["uid"] }}</td>
                <td>{{ item["name"] }}</td>
                <td>{{ "买家" if item["level"] == 1 else "卖家" }}</td>
                <td>{{ ";".join(item["addresses"]) }}</td>
                <td>{{ item["phone"] }}</td>
                <td>{{ item["register_at"] }}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}
